@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/*Sidans utseende*/
body{
    background-image: url(./bilder/Backgrundrasberry.svg);
}
.kontainer{
    font-family:  "Roboto", sans-serif;;
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    
}
.kontainer .intro{
    text-align: center;
}
.kontainer h1{
    text-align: center;
}
.kontainer h2{
font-size: 20px;
}
.kontainer .kolumn h2{
    margin: 5px;
    
}
.kontainer .kolumn a{
    margin: 10px;
    text-decoration: none;
    color: blue;
} 
.kontainer .kolumn img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.kontainer .kolumn p{
font-size: 14px;
color: #555;
margin-bottom: 15px;
}
.kontainer .kolumner-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.kontainer .kolumner-3 .kolumn{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    

}
.kontainer .kolumner-3 .kolumn:hover{
    box-shadow: 0 5px 5px black;
}
